.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 100vh;
}

.form_block{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    padding: 50px;
}